body{
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;
}
/*Contact sectiom*/
.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
}
.section-content{
    text-align: center; 
  
}
#contact{
    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;    
}
.contact-section{
    padding-top: 40px;
}
.contact-section .col-md-6{
    width: 50%;
}
.form-line{
    border-right: 1px solid #B29999;
} 
.form-group{
    margin-top: 10px;
}
label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}
.form-control{
    font-size: 1.3em;
    color: #080808;
}
textarea.form-control {
    height: 178px;
    /* margin-top: px;*/
}
.submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
  
}